 .category-scroll::-webkit-scrollbar {
        display: none;
    }

    .category-scroll {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
        flex-wrap: nowrap !important;
    }
    .category-card:hover{
        overflow-x: auto;
         
        transition: transform 0.3s ease;
        transform: scale(1.05);
    }