<p>home works!</p>

<div class="mb-3">
    <button class="btn btn-primary me-auto" (click)="testSwal()">Gtext swal</button>
    <button class="btn btn-primary me-auto" (click)="showNetworkDownAlert()">showNetworkDownAlert</button>
    <button class="btn btn-primary me-auto" (click)="closeNetworkDownAlert()">closeNetworkDownAlert</button>

     

    <button class="btn btn-primary me-auto" (click)="showAvatar()">show Avatar</button>
</div>
<div class="row container text-center">
    <div class="col d-flex gap-3">
        <div class="card text-start mb-3 mt shadow-sm hover-shadow" style="transition: box-shadow 0.2s; width: 18rem;">
            <img class="card-img-top"
                src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp" alt="Title"
                width="150" height="150" style="object-fit: cover;" />
            <div class="card-body">
                <h4 class="card-title">Title</h4>
                <p class="card-text">Microsoft Word is a word processing program developed by Microsoft. It was first
                    released on October 25, 1983, under the name Multi-Tool Word for Xenix systems. Subsequent versions
                    were later written
                </p>
            </div>
        </div>
        <div class="card text-start mb-3 mt shadow-sm hover-shadow" style="transition: box-shadow 0.2s; width: 18rem;">
            <img class="card-img-top"
                src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp" alt="Title"
                width="150" height="150" style="object-fit: cover;" />
            <div class="card-body">
                <h4 class="card-title">Title</h4>
                <p class="card-text">Microsoft Word is a word processing program developed by Microsoft. It was first
                    released on October 25, 1983, under the name Multi-Tool Word for Xenix systems. Subsequent versions
                    were later written
                </p>
            </div>
        </div>
        <div class="card text-start mb-3 mt shadow-sm hover-shadow" style="transition: box-shadow 0.2s; width: 18rem;">
            <img class alt="Title" width="150" height="150" style="object-fit: cover;" />
            <div class="card-body">
                <h4 class="card-title">Title</h4>
                <p class="card-text">Microsoft Word is a word processing program developed by Microsoft. It was first
                    released on October 25, 1983, under the name Multi-Tool Word for Xenix systems. Subsequent versions
                    were later written
                </p>
            </div>
        </div>
        <div class="card text-start mb-3 mt shadow-sm hover-shadow" style="transition: box-shadow 0.2s; width: 18rem;">
            <img class alt="Title" width="150" height="150" style="object-fit: cover;" />
            <div class="card-body">
                <h4 class="card-title">Title</h4>
                <p class="card-text">Microsoft Word is a word processing program developed by Microsoft. It was first
                    released on October 25, 1983, under the name Multi-Tool Word for Xenix systems. Subsequent versions
                    were later written
                </p>
            </div>
        </div>
    </div>
    <div class="col d-flex gap-3">
        <div class="card text-start mb-3 mt shadow-sm hover-shadow" style="transition: box-shadow 0.2s; width: 18rem;">
            <img class alt="Title" width="150" height="150" style="object-fit: cover;" />
            <div class="card-body">
                <h4 class="card-title">Title</h4>
                <p class="card-text">Microsoft Word is a word processing program developed by Microsoft. It was first
                    released on October 25, 1983, under the name Multi-Tool Word for Xenix systems. Subsequent versions
                    were later written
                </p>
            </div>
        </div>
        <div class="card text-start mb-3 mt shadow-sm hover-shadow" style="transition: box-shadow 0.2s; width: 18rem;">
            <img class alt="Title" width="150" height="150" style="object-fit: cover;" />
            <div class="card-body">
                <h4 class="card-title">Title</h4>
                <p class="card-text">Microsoft Word is a word processing program developed by Microsoft. It was first
                    released on October 25, 1983, under the name Multi-Tool Word for Xenix systems. Subsequent versions
                    were later written
                </p>
            </div>
        </div>

    </div>