<form (ngSubmit)="onSubmit()" [formGroup]="empForm">
    <div class="row">
        <div class="col-12 text-end p-0 pe-3">
            <button type="button" (click)="addNewEmployee()"
                class="btn btn-link fw-bold fs-4 text-primary position-relative d-inline-flex align-items-center group"
                style="overflow:hidden; transition:width 0.3s;">
                <i class="bi bi-person-add fs-4"></i>
                <span class="add-new-text ms-2 px-2 py-1 rounded  shadow-sm fs-6"
                    style="white-space:nowrap; opacity:0; width:0; transition:opacity 0.3s, width 0.3s; display:inline-block;">
                    Add New
                </span>
            </button>
        </div>

        <div class="col-6 mb-2  text-start">
            <label for="firstName" class="form-label fw-semibold ps-2 ">First Name <span
                    style="color:red">*</span></label>
            <input type="text" id="firstName" formControlName="firstName" placeholder="First Name" class="form-control"
                required>
            @if (empForm.controls.firstName.hasError('required') && empForm.controls.firstName.touched) {
            <span class="text-danger fw-normal ms-2">First Name is Required</span>
            }
        </div>
        <div class="col-6 mb-2 text-start">
            <label for="lastName" class="form-label fw-semibold ps-2 ">Last Name<span style="color:red">*</span></label>
            <input type="text" id="lastName" formControlName="lastName" placeholder="Last Name" class="form-control">
            @if (empForm.controls.lastName.hasError('required') && empForm.controls.lastName.touched) {
            <span class="text-danger fw-normal ms-2">Last Name is Required</span>
            }
        </div>
        <div class="col-5 mb-2 text-start">
            <label for="dateOfBirth" class="form-label fw-semibold ps-2  ">Date of Birth<span
                    style="color:red">*</span></label>
            <input type="date" id="dateOfBirth" formControlName="dateOfBirth" class="form-control"
                title="Enter date in dd/mm/yyyy format" autocomplete="off">
            @if (empForm.controls.dateOfBirth.hasError('required') && empForm.controls.dateOfBirth.touched) {
            <span class="text-danger fw-normal ms-2">Date of Birth is Required</span>
            }
        </div>
        <div class="col-7 mb-2 text-start">
            <label for="email" class="form-label fw-semibold ps-2 ">Email<span style="color:red">*</span></label>
            <input type="email" id="email" formControlName="email" class="form-control" placeholder="Email@example.com"
                autocomplete="off" />
            @if (empForm.controls.email.hasError('required') && empForm.controls.email.touched) {
            <span class="text-danger fw-normal ms-2">Email is Required</span>
            }
            @if (empForm.controls.email.hasError('email') && empForm.controls.email.touched) {
            <span class="text-danger fw-normal ms-2">invalid Email</span>
            }
        </div>
        <div class="p-3 mb-3 bg-white border rounded">
            <div class="row" formArrayName="phone">
                <caption class="fw-semibold mb-2 form-label d-flex">Phone info<span style="color:red">*</span></caption>
                <div *ngFor="let item of empForm.controls.phone.controls; let i = index" [formGroupName]="i"
                    class="row mb-2">
                    <div class="col-8">
                        <input type="tel" id="phoneNumber" placeholder="Phone Number" formControlName="phoneNumber"
                            class="form-control" inputmode="numeric" style="letter-spacing:2px;"
                            title="Enter a 10-digit phone number"
                            oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0,10)">
                        <div class="text-start ms-2">
                            @if(item.controls.phoneNumber.hasError('required') && item.controls.phoneNumber.touched)
                            {
                            <span class="text-danger">Phone Number is Required</span>
                            }
                            @if(item.controls.phoneNumber.hasError('pattern') && item.controls.phoneNumber.touched)
                            {
                            <span class="text-danger">Must be 10-digit</span>
                            }
                        </div>
                    </div>

                    <!-- <div class="col-8">

                        <ngx-intl-tel-input  [preferredCountries]="preferredCountries"
                            [enableAutoCountrySelect]="true" [enablePlaceholder]="true" [searchCountryFlag]="true"
                            [searchCountryField]="[
          SearchCountryField.Iso2,
          SearchCountryField.Name
        ]" [selectFirstCountry]="false" [selectedCountryISO]="CountryISO.India" [maxLength]="15"
                            [phoneValidation]="true" [separateDialCode]="separateDialCode"
                            [numberFormat]="PhoneNumberFormat.National" name="phone" formControlName="phoneNumber"
                            class="  ">
                        </ngx-intl-tel-input>

                    
                </div> -->
                    <div class="col-4">
                        <select name="phoneType" class="form-select" formControlName="phoneNumberType">
                            <option value="" disabled>Type</option>
                            <option value="mobile">Mobile</option>
                            <option value="home">Home</option>
                        </select>
                        @if (item.controls.phoneNumberType.hasError('required') &&
                        item.controls.phoneNumberType.touched) {
                        <span class="text-danger fw-normal ms-2">Select Phone Type</span>
                        }

                    </div>
                </div>
            </div>
        </div>
        <div class="p-3 mb-3 bg-white border rounded">
            <div class="row" formArrayName="address">
                <caption class="fw-semibold mb-2">Address<span style="color:red">*</span></caption>
                <div *ngFor="let addr of empForm.controls.address.controls; let i = index" [formGroupName]="i"
                    class="row">
                    <div class="col-6 mb-2">
                        <input type="text" id="street" placeholder="Street" formControlName="street"
                            class="form-control">
                        <div class="text-start ms-2">
                            @if (addr.controls.street.hasError('required') && addr.controls.street.touched ) {
                            <span class="text-danger  ">Street is required</span>
                            }
                        </div>
                    </div>
                    <div class="col-6 mb-2">
                        <input type="text" id="city" placeholder="City" formControlName="city" class="form-control">
                        <div class="text-start ms-2">
                            @if (addr.controls.city.hasError('required') && addr.controls.city.touched ) {
                            <span class="text-danger  ">City is required</span>
                            }
                        </div>
                    </div>
                    <div class="col-8 mb-2">
                        <input type="text" id="state" placeholder="State" formControlName="state" class="form-control">
                        <div class="text-start ms-2">
                            @if (addr.controls.state.hasError('required') && addr.controls.state.touched ) {
                            <span class="text-danger  ">State is required</span>
                            }
                        </div>
                    </div>
                    <div class="col-4 mb-2">
                        <input type="tel" id="zipCode" placeholder="Zip Code" inputmode="numeric" maxlength="6"
                            formControlName="postalCode" class="form-control">
                        <div class="text-start ms-2">
                            @if (addr.controls.postalCode.hasError('required') && addr.controls.postalCode.touched ) {
                            <span class="text-danger  ">PostalCode is required</span>
                            }
                        </div>
                    </div>
                    <div class="col-4 mb-2">
                        <select id="addressType" class="form-select" formControlName="addressType">
                            <option disabled value="">Type</option>
                            <option value="Home">Home</option>
                            <option value="Work">Work</option>
                        </select>
                        <div class="text-start ms-2">
                            @if (addr.controls.addressType.hasError('required') && addr.controls.addressType.touched ) {
                            <span class="text-danger  ">AddressType is required</span>
                            }
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col  mt-2">
            <button type="submit" [disabled]="!empForm.valid" class="btn btn-outline-success"> {{submitTxt$ |async }}
            </button>
        </div>
        <div class="col mt-2">
            <button type="reset" class="btn btn-outline-secondary">
                Reset
            </button>
        </div>
    </div>
</form>