<header>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top mask-custom shadow-0">
    <div class="container">
      <a class="navbar-brand" href="#!"><span style="color: #281070;">BookMy</span><span
          style="color: #4b0707;">Nothing</span></a>
      <button class="navbar-toggler" type="button" data-mdb-collapse-init data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">

          <li class="nav-item"> <a class="nav-link" routerLink="/Home" routerLinkActive="active">Home</a></li>

          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/manageEmployee" routerLinkActive="active">Employee</a>
          </li>
          <!-- add drop down for admin-->
          <li class="nav-item dropdown" (mouseenter)="adminDropdown.classList.add('show'); adminMenu.classList.add('show')"
           (mouseleave)="adminDropdown.classList.remove('show'); adminMenu.classList.remove('show')">
            <a class="nav-link " href="#" id="adminDropdown" role="button"
              #adminDropdown
              aria-expanded="false" routerLinkActive="active">
              Admin
            </a>
            <ul class="dropdown-menu" aria-labelledby="adminDropdown" #adminMenu>
              <li><a class="dropdown-item" routerLink="manage-home" routerLinkActive="active-DD" >Manage Home Page</a></li>
              <li><a class="dropdown-item" routerLink="/admin/users" routerLinkActive="active-DD">Users</a></li>
              <li><a class="dropdown-item" routerLink="/admin/settings" routerLinkActive="active-DD">Settings</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!">Contact</a>
          </li>
        </ul>
        <ul class="navbar-nav d-flex flex-row">
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="#!">
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </a>
          </li>
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="#!">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="#!">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Navbar -->

  <!--Section: Design Block-->
  <section>
    <!-- Intro -->
    <div id="intro" class="bg-image vh-100" style="background-image: url('https://mdbootstrap.com/img/Photos/new-templates/psychologist/img1.jpg');
          ">
      <div class="mask" style="background: linear-gradient(135deg, #408b87 0%, #fab6a2 100%); min-height: 100vh;">
        <div class="mt-4 pt-5">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
    <!-- Intro -->
  </section>
  <!--Section: Design Block-->
</header>