/* .logout-link {
  white-space: nowrap;
}



 
.navbar-nav .nav-link:hover {
  color: #8a6a41 !important;  
  text-decoration: underline;
  transition: color 0.3s ease;
}

 
.input-group input:focus {
  box-shadow: 0 0 8px rgba(13, 110, 253, 0.5);
  border-color: #0d6efd;
}

 
.btn-primary:hover {
  background-color: #0b5ed7;
  border-color: #0a58ca;
  transition: background-color 0.3s ease;
}
 
.btn-rounded-pill {
  border-radius: 50px !important;
}


 */
/* 
  .active{
  text-decoration: underline;
  color: #5b2e99 !important;
}

@media (max-width: 991.98px) {
  .navbar .form-control,
  .navbar .btn {
    width: 100%;
  }

  .navbar .navbar-nav.flex-column {
    width: 100%;
  }

  .navbar .navbar-nav.flex-column .nav-item {
    width: 100%;
    text-align: left;
  }
} */

  

/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #3b0339;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon,
.navbar-scrolled .navbar-brand {
  color: #fff;
}

/* Color of the navbar AFTER scroll */
.navbar-scroll,
.navbar-scrolled {
  background-color: #cbbcb1;
}

.mask-custom {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, .15);
}

.navbar-brand {
  font-size: 1.75rem;
  letter-spacing: 3px;
}
.nav-link{
  color: rgb(57, 46, 2);
  font-size: 1.1rem;
  font-weight: 500;
  transition: color 0.2s ease, font-size 0.2s ease;
}
.nav-link:hover {
  color: #3e0f80 !important;  
  transition: color 0.2s ease;
  font-size: 0.95em;
}
.nav:hover {
  border-color: #5c8e90;
}
.active {
   color: #3e0f80 !important;  
  transition: color 0.2s ease;
  font-size: 0.95em;
}
.active-DD{
  color: #3e0f80 !important;  
  transition: color 0.2s ease;
  font-size: 0.95em;
}
 