<section class="vh-150 container" style="background-color: #9A616D;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">

                                <form (submit)="onSubmit()" #form="ngForm" class="form">

                                    <input type="hidden" name="returnUrl"  />

                                    <div class="d-flex align-items-center mb-3  pb-1">
                                        <i class="fas fa-cubes fa-2x h1 me-3" style="color: #406864;">Registration
                                            Page</i>
                                        <span class="h1 fw-bold mb-0"> </span>
                                    </div>

                                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Create new account
                                    </h5>

                                    <div class="text-body">
                                        <div asp-validation-summary="All" class="text-danger"></div>
                                    </div>


                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <label class="form-label">Email Address</label>
                                        <input class="form-control form-control-lg" name="Email"
                                            [(ngModel)]="user.email" required #email="ngModel" Autocomplete="off"
                                            placeholder="Enter Username or Email id" />
                                        <div class="text-danger"
                                            *ngIf="email.invalid && (email.dirty || email.touched)"> Email is required
                                            and must be a valid email address.</div>

                                    </div>

                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <label class="form-label">Password</label>
                                        <input type="password" class="form-control form-control-lg" name="Password"
                                            #password="ngModel" [(ngModel)]="user.password" required minlength="8"
                                            maxlength="14" placeholder="Enter Password" />
                                        <div class="text-danger"
                                            *ngIf="password.hasError('required') && (password.dirty || password.touched)">
                                            Password is required.</div>
                                        <div class="text-danger"
                                            *ngIf="password.hasError('minlength') && (password.dirty || password.touched)">
                                            Password must be at least 8 characters long.</div>
                                        <div class="text-danger"
                                            *ngIf="password.hasError('maxlength') && (password.dirty || password.touched)">
                                            Password cannot exceed 14 characters.</div>

                                    </div>
                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <label class="form-label">Confirm your Password</label>
                                        <input type="password" class="form-control form-control-lg"
                                            name="confirmPassword" #confirmPassword="ngModel"
                                            [(ngModel)]="user.confirmPassword" required minlength="8" maxlength="14"
                                            placeholder="Confirm your Password" />
                                        <div class="text-danger"
                                            *ngIf="confirmPassword.hasError('required') && (confirmPassword.dirty || confirmPassword.touched)">
                                            Confirm Password is required.</div>
                                        <div class="text-danger"
                                            *ngIf="confirmPassword.value !== password.value && (confirmPassword.dirty || confirmPassword.touched)">
                                            Passwords do not match.</div>

                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="Remember"
                                            [(ngModel)]="termsChecked" #check="ngModel" requiredTrue required />
                                        <label class="form-check-label"> Agree the Terms and conditions </label>
                                        <div class="text-danger"
                                            *ngIf="check.invalid && (form.controls['Remember']?.dirty || form.controls['Remember']?.touched)">
                                            You must agree to the terms.</div>
                                    </div>


                                    <div class="pt-2 mb-4">
                                        <button data-mdb-button-init data-mdb-ripple-init
                                            class="btn btn-dark btn-lg btn-block" type="submit"
                                            [disabled]="!form.valid ||   (confirmPassword.value !== password.value && (confirmPassword.dirty || confirmPassword.touched))">Register</button>
                                    </div>

                                    <div *ngIf="enableOTPbtn">
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                            data-bs-target="#staticBackdrop">
                                            Submit OTP for verification.
                                        </button>
                                        <p class="text-muted "> Check your Registered email {{user.email}}</p>
                                        <br />
                                    </div>



                                    <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#passwordResetMpdal">
                                                Reset Password
                                            </button>   -->
                                    <div class="">
                                        <p class="mb-5 pb-lg-2 d-flex" style="color: #393f81;">
                                            Existing User? &nbsp;
                                            <a class="icon-link icon-link-hover " routerLink="/Login"> Sign In
                                                <svg xmlns="http://www.w3.org/2000/svg" class="bi" viewBox="0 0 16 16"
                                                    aria-hidden="true">
                                                    <path
                                                        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                                                </svg>
                                            </a>

                                        </p>
                                    </div>
                                    <a href="#!" class="small text-muted">Terms of use.</a>
                                    <a href="#!" class="small text-muted">Privacy policy</a>
                                </form>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Button trigger modal -->

        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Input Your OTP</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form #Otpform="ngForm" (ngSubmit)="onOtpSubmit(Otpform)">
                        <div class="modal-body">

                            <p>Please enter the OTP sent to {{user.email}}</p>
                            <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="{ length: 6 }" name="otp"
                                [(ngModel)]="otp" #otpInput="ngModel"></ng-otp-input>
                        </div>
                        <div class="text-danger" *ngIf="otpInput.invalid && (otpInput.dirty || otpInput.touched)">
                            OTP is required and must be 6 digits long.
                        </div>


                        <div class="modal-footer">
                            <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Submit OTP</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>




    </div>
</section>