<section class="vh-150 container-fluid" style="background-color: #9A616D;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                                alt="login form" class="img-fluid w-100 h-100 object-fit-cover"
                                style="border-radius: 1rem 0 0 1rem;" />
                        </div>




                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">



                                <form (ngSubmit)="LoginSubmit()" #LoginForm="ngForm"
                                    class="form mx-auto p-4 rounded shadow-sm bg-white" style="max-width: 420px;">

                                    <!-- Alert Message -->
                                    <div class="alert alert-success d-flex align-items-center" role="alert"
                                        *ngIf="loginAlert">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            fill="currentColor" class="bi bi-check-circle me-2" viewBox="0 0 16 16">
                                            <path
                                                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14z" />
                                            <path
                                                d="M10.97 5.97a.235.235 0 0 1 .02.022l-3.99 4.99a.75.75 0 0 1-1.08.02l-2-2a.75.75 0 1 1 1.06-1.06l1.47 1.47 3.47-4.34a.75.75 0 0 1 1.13.94z" />
                                        </svg>
                                        <span>
                                            Password reset link sent to your email.
                                        </span>
                                    </div>


                                    <h5 class="fw-semibold text-center mb-4" style="letter-spacing: 1px; color: #333;">
                                        Sign into your account
                                    </h5>
                                    @if(isloginError())
                                    {
                                     <div class="flex flex-col mb-3 w-80">
                                     <p-message icon="pi pi-times-circle" severity="error" variant="simple" [text]="loginErrorMsg()" size="small"> </p-message>
                                     </div>
                                    }
                                    <div class="flex justify-center gap-2">


                                        <!-- Email Field -->
                                        <div data-mdb-input-init class="form-outline mb-4">
                                            <p-floatlabel variant="on">
                                                <p-iconfield>
                                                    <p-inputicon>
                                                        <i class="pi pi-user"></i>
                                                    </p-inputicon>
                                                    <input type="email" id="email" pInputText
                                                        class="form-control form-control-lg" name="email" required email
                                                        #email="ngModel" [(ngModel)]="userCred.email"
                                                        autocomplete="off" />
                                                    <label for="email" class="form-label">Enter your email </label>
                                                </p-iconfield>


                                                <p-message severity="error"
                                                    *ngIf="email.hasError('required') && (email.dirty || email.touched)"
                                                    size="small" variant="simple"> Email is required.
                                                </p-message>
                                                <p-message severity="error"
                                                    *ngIf="email.hasError('email') && (email.dirty || email.touched)"
                                                    size="small" variant="simple"> Email is not
                                                    valid.
                                                </p-message>
                                                <!-- <div class="form-text text-danger"
                                                *ngIf="email.hasError('email') && (email.dirty || email.touched)">
                                                Please enter a valid email address.
                                            </div> -->
                                            </p-floatlabel>
                                        </div>

                                        <!-- Password Field -->
                                        <div data-mdb-input-init class="form-outline mb-3">
                                            <p-floatlabel variant="on">
                                                <p-iconfield>
                                                    <p-inputicon>
                                                        <i class="bi bi-key"></i>
                                                    </p-inputicon>
                                                    <input type="password" pInputText name="password"
                                                        class="form-control form-control-lg" required minlength="8"
                                                        id="password" maxlength="20" #password="ngModel"
                                                        [(ngModel)]="userCred.password" autocomplete="off" />
                                                    <label for="password" class="form-label">Enter your password
                                                    </label>
                                                </p-iconfield>
                                                <p-message severity="error"
                                                    *ngIf="password.hasError('required') && (password.dirty || password.touched)"
                                                    size="small" variant="simple">
                                                    Password is required.
                                                </p-message>
                                                <p-message severity="error"
                                                    *ngIf="(password.hasError('minlength') || password.hasError('maxlength')) && (password.dirty || password.touched)"
                                                    size="small" variant="simple">
                                                    Password must be 8–20 characters.
                                                </p-message>

                                                <!-- <p-message severity="error" lass="form-text text-danger"
                                                    *ngIf="password.hasError('required') && (password.dirty || password.touched)">
                                                    Password is required.
                                                </p-message> -->

                                                <!-- <div class="form-text text-danger"
                                                    *ngIf="(password.hasError('minlength') || password.hasError('maxlength')) && (password.dirty || password.touched)">
                                                    Password must be 8–20 characters.
                                                </div> -->
                                            </p-floatlabel>
                                            <div class="d-flex justify-content-end">
                                                <a class="small text-muted pt-1" href="#" data-bs-toggle="modal"
                                                    data-bs-target="#passwordResetMpdal">Forgot password?</a>
                                            </div>
                                        </div>



                                        <!-- Submit Button -->
                                        <div class="pt-2 mb-3">
                                            <button data-mdb-button-init data-mdb-ripple-init pButton pRipple
                                                [disabled]="!LoginForm.valid" style="background-color: #9A616D;"
                                                class="btnbtn-md w-100 rounded-pill shadow-sm hover-scale"
                                                type="submit">
                                                Login
                                            </button>
                                        </div>




                                        <!-- Register Link -->
                                        <p class="text-center mt-4 mb-2" style="color: #393f81;">
                                            Don't have an account?
                                            <a class="ms-1 icon-link icon-link-hover fw-semibold"
                                                routerLink="/Register">
                                                Register Here
                                                <svg xmlns="http://www.w3.org/2000/svg" class="bi" viewBox="0 0 16 16"
                                                    aria-hidden="true" style="width: 16px; height: 16px;">
                                                    <path
                                                        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                                                </svg>
                                            </a>
                                        </p>

                                        <!-- Terms and Privacy -->
                                        <!-- <div class="text-center small text-muted">
                                        <a href="#!" class="me-3">Terms of use</a>
                                        <a href="#!">Privacy policy</a>
                                    </div>-->

                                    </div>
                                </form>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Password Reset -->
    <!-- Button trigger modal -->


    <!-- Modal -->
    <div class="modal fade" id="passwordResetMpdal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="passwordResetMpdalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 300px;">
            <div class="modal-content text-center">
                <div class="modal-header h5 text-white bg-primary d-flex justify-content-between align-items-center">
                    <div class="mx-auto">
                        Password Reset
                    </div>
                    <button type="button" class="btn-close btn-sm text-muted ms-2" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body px-5">
                    <p class="py-2">
                        Enter your email address and we'll send you an email with instructions to reset your
                        password.
                    </p>
                    <form>
                        <div data-mdb-input-init class="form-outline my-1">
                            <label class="form-label">Email input</label>
                            <input type="email" name="emailforgot" [formControl]="emailforgot" class="form-control" />

                            
                            <span class="text-danger small "
                                *ngIf="emailforgot.hasError('required') && (emailforgot.dirty || emailforgot.touched)">
                                Email is required.
                            </span>
                            <span class="text-danger small"
                                *ngIf="emailforgot.hasError('email') && (emailforgot.dirty || emailforgot.touched)">
                                Not a Valid Email.
                            </span>
                            <br />
                            <span class="text-danger small" *ngIf="resetPasswordError" [innerHTML]="resetPasswordError"
                                style="word-break: break-word; white-space: pre-line;"></span>
                        </div>

                        <button type="button" data-mdb-ripple-init (click)="resetPassword()" *ngIf="!isLoading"
                            class="btn btn-outline-dark w-75 mt-3 " [disabled]="emailforgot.invalid">Send
                            Reset Link</button>
                        <div class="spinner-grow" role="status" *ngIf="isLoading">
                            <span class="sr-only"> </span>
                        </div>


                        <div class="d-flex justify-content-between mt-4">
                            <a class="" href="#">Login</a>
                            <a class="" href="#">Register</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>