@if (isloader) {
<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="spinner-grow text-dark" role="status" style="width: 5rem; height: 5rem;">
        <span class="sr-only"></span>
    </div>
</div>
}@else if (invalidAction){
<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="alert alert-danger text-center" role="alert" [innerHTML]="errorMessage">

    </div>
</div>
}@else if (!showSuccess) {
<div class="container-fluid bg-secondary d-flex justify-content-center align-items-center min-vh-100">
    <div class="card shadow p-4" style="width: 100%; max-width: 400px;">
        <h4 class="mb-2 text-center text-primary">Create New Password</h4>
        <div class="alert alert-info p-2 mb-3 text-center" role="alert">
            <small>
                <i class="bi bi-clock-history"></i>
                This link is valid for <strong>10 minutes</strong>
            </small>
        </div>
        <div class="mb-3 text-center ">
            <span class="text-secondary text-muted fs-6 d-inline-flex align-items-center">
                <i class="bi bi-person-circle me-2"></i>
                <strong class="text-secondary ms-1">{{'ruthiky8@gmail.com'}}</strong>
            </span>
        </div>

        <form #resetpswdForm="ngForm" (ngSubmit)="resetPassword()">


            <div class="mb-3 text-center">
                <!-- <label for="newPassword" class="form-label">New Password</label> -->
                <input type="password" name="password" class="form-control" #password="ngModel"
                    [(ngModel)]="resetform.password" placeholder="Enter new password" required minlength="8"
                    maxlength="14" autocomplete="off">
                <div class="text-danger" *ngIf="password.hasError('required') && (password.touched || password.dirty)">
                    Confirm password is required </div>
                <div class="text-danger" *ngIf="password.hasError('minlength') && (password.touched || password.dirty)">
                    Password must be at least 8 characters long </div>
                <div class="text-danger" *ngIf="password.hasError('maxlength') && (password.touched || password.dirty)">
                    Password cannot exceed 14 characters </div>


            </div>

            <div class="mb-2">
                <!-- <label for="confirmPassword" class="form-label">Confirm Password</label> -->
                <input type="password" name="confirmPassword" class="form-control" id="confirmPassword"
                    [(ngModel)]="resetform.confirmPassword" #confirmPassword="ngModel"
                    placeholder="Confirm new password" autocomplete="off" required minlength="8" maxlength="14"
                    required>
                <div class="text-danger"
                    *ngIf="confirmPassword.hasError('required') && (confirmPassword.touched || confirmPassword.dirty)">
                    Confirm password is required </div>
                <div class="text-danger"
                    *ngIf="confirmPassword.value !== password.value && (confirmPassword.touched || confirmPassword.dirty)">
                    Password do not Match</div>

            </div>

            <button type="submit" class="btn btn-primary w-100 mt-4 rounded-pill">Reset
                Password</button>

        </form>
    </div>
</div>
}

@if (showSuccess) {
<div class=" ">

    <div class="container d-flex justify-content-center pt-5 align-items-center ">
        <div class="alert alert-success text-center" role="alert">
            <strong>Password reset successfully!</strong> You can now log in with your new password.
        </div>
    </div>
    <div class="container d-flex justify-content-center  ">
        <a class="btn btn-secondary" routerLink="/login">Go to Login</a>
    </div>
</div>
}