/* You can add global styles to this file, and also import other style files */

/* .body{
  font-family: "Sen", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
} */

.body{
 font-family: "sans-serif", sans-serif;
  font-optical-sizing: auto;
  font-weight: 465;
  font-style: normal;
}

.text-danger{
  padding-left: 1rem;
  font-size: 0.75rem;
  display:inline-block; 
  /* white-space:nowrap; */
   word-break: break-word; 
   white-space: pre-line;
}
.nav-link{
  white-space:nowrap;
}